.shopify-payment-button__button {
    height: 44px;
    min-height: 44px;
    border-radius: 0;
    width: 100%;
    border: none;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 1em;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    transition: background .2s;
    background-color: #1990c6;
    padding: 1em 2em;
}
.shopify-payment-button__button--hidden {
    visibility: hidden;
}
.shopify-payment-button__button[disabled] {
    opacity: .6;
    cursor: default;
}
.shopify-payment-button__button:hover:not([disabled]) {
    background-color: #136f99;
}
.shopify-payment-button__more-options {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1em;
    margin-top: 1em;
    text-align: center;
    text-decoration: underline;
    width: 100%;
}
.shopify-payment-button__more-options[disabled] {
    opacity: .6;
    cursor: default;
}
.screen-reader-text {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
}
