:root {
    --announcement-bar-bg: #fff;
    --announcement-bar-text: #222;
    --announcement-bar-border: #eee;
}
.Announcement {
    background: var(--announcement-bar-bg);
    color: var(--announcement-bar-text);
    border-bottom: 1px solid var(--announcement-bar-border);
}
.Announcement__Body {
    position: relative;
    text-align: center;
    padding: .5rem;
    font-size: 1rem;
    font-family: Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;
}
.Announcement[aria-hidden="true"] { display: none; }
.Announcement[aria-hidden="false"] { display: block; }
.Announcement__Content {
    color: var(--announcement-bar-text);
    margin: 0;
}
.Announcement__Content a {
    color: var(--announcement-bar-text);
    text-decoration: underline;
}
.Announcement__Close {
    position: absolute;
    right: .5rem;
    top: 50%;
    transform: translateY(-50%);
    color: var(--announcement-bar-text);
}
.Announcement__Close svg {
    width: 15px;
    height: 15px;
    fill: var(--announcement-bar-text);
    display: block;
}
